.control-center {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(20px);
  transition: transform var(--speed);
  padding: 30px;
}

.control-center.show {
  transform: translateY(100%);
}

.cc-toggle {
  background: rgba(255,255,255,0.15);
  padding: 15px;
  border-radius: 14px;
  margin-bottom: 12px;
}
